.change_password_form {
    border: 1px solid #1b1b1b;
    background: #1b1b1b;
    border-radius: 3px;
}
.change_password_form_header {
    padding: 20px;
    border-bottom: 1px solid #000;
}
.change_password_form_header p {
    color: #fff;
    font-size: 14px;
    font-weight: 500;
}
.change_password_input_box {
    padding: 20px;
}
.change_password_btn {
    color: #fff;
    width: 130px;
    border: 0px;
    height: 40px;
    font-size: 14px;
    background: #fa2276;
    border-radius: 3px;
}
.change_password_btn:hover {
    color: #fff;
    border: 1px solid #fff;
    background: #1b1b1b;
}